<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card shadow border-0">
        <div class="card-header bg-primary text-white text-center">
          <h3>Create Your Profile</h3>
        </div>
        <div class="card-body">
            <%= render partial:'form', locals: { profile: @profile } %>
        </div>
      </div>
    </div>
  </div>
</div>